{% extends "navbar_template.html" %}
{% load static %}

{% block icon %}<link rel="icon" href="{% static 'images/table.ico' %}">{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/timetable/master.css' %}">{% endblock %}

{% block title %}Plan zajęć{% endblock %}

{% block content %}
<div class="days">
    {% for day_in_week, lessons_today in timetable.items  %}
        <div class="day nomargin">
            <div class="present-day">{{day_in_week}}</div>
            <hr class="line">
            <div class="lessons">
                {% for lesson in lessons_today %}
                    <!--{% if day_in_week == today_day_name and lesson == current_lesson %}
                    <div class="lesson lesson_now"><a class="no-decoration" href="{{links|get_item:lesson}}">{{lesson}}</a></div>
                    {% else %}
                    <div class="lesson"><a class="no-decoration" href="{{links|get_item:lesson}}">{{lesson}}</a></div>
                    {% endif %}-->
                    <div class="lesson"><a class="no-decoration" href="{{links|get_item:lesson}}">{{lesson}}</a></div>

                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
