body, html {
    font-family: 'Poppins', sans-serif;
    background-color: #13232f;
    color: white;
    user-select: none;
    height: 100%;
    margin: 0;
}

.timetable-icon, .settings-icon, .accounts-icon, .myclass-icon {
    background-color: #6178c9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #111111;
    margin-left: 10px;
}

.timetable-icon {
    background-color: #4056a7;
}

.timetable-icon:hover, .settings-icon:hover, .accounts-icon:hover, .myclass-icon:hover {
    background-color: #4056a7;
}

.no-decoration, .no-decoration:hover {
    text-decoration: none;
    color: white;
    display: block;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
