{% extends "base.html" %}
{% load static %}

{% if user.class_name == "slo3a" %}
{% block js %}<script type="text/javascript" src="{% static 'js/3a/master.js' %}"></script>{% endblock %}
{% endif %}

{% block css %}<link rel="stylesheet" href="{% static 'css/class/master.css' %}">{% endblock %}

{% block title %}Moja klasa{% endblock %}

{% block body %}
<div class="container-fluid page-content">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <p class="nav-link active name">Cześć <strong>{{user.username}}</strong><a href="{% url 'profiles:settings' %}" class="decoration"> (<u>ustawienia</u>)</a>, obecna lekcja <strong>{{curr_lesson}}</strong></p>
        </li>
    </ul>

    <div class="cards">
        {% if user.class_name == "slo3a" %}
        <div class="card physics">Fizyka</div>

        {% if user.math_teacher == "Buba" %}
        <div class="card"><a href='https://us04web.zoom.us/j/2483015118?pwd=WEtHK0llaWZmTWtmTnhPUlVqRmlGUT09' class='no-decoration' target='_blank'>Matematyka</a></div>
        {% elif user.math_teacher == "Rubaj" %}
        <div class="card"><a href='https://us02web.zoom.us/j/2693771475?pwd=SFNmQUIvT0tRaHlDaVYrN3l5bzJVQT09' class='no-decoration' target='_blank'>Matematyka</a></div>
        {% else %}
        <div class="card math">Matematyka</div>
        {% endif %}

        {% if user.english_teacher == "Denys" %}
        <div class="card"><a href='https://us04web.zoom.us/j/6708313679?pwd=RWlUODlGOTFndFZSbHBRdFZoT0V3dz09' class='no-decoration' target='_blank'>Angielski</a></div>
        {% elif user.english_teacher == "Kotlińska" %}
        <div class="card"><a href='https://us04web.zoom.us/j/75537981297?pwd=L3BHL0tkZXFsTEx5VjV3WS8yQ2VJUT09' class='no-decoration' target='_blank'>Angielski</a></div>
        {% elif user.english_teacher == "Skowron" %}
        <div class="card"><a href='https://zoom.us/j/6717774670?pwd=REhhSXdCaXphRFQyM0pVUGJ3THFBZz09' class='no-decoration' target='_blank'>Angielski</a></div>
        {% elif user.english_teacher == "Kowalczyk" %}
        <div class="card"><a href='https://us04web.zoom.us/j/4312598558?pwd=RDlUelJXTk1mUmxoMzNPOUZJa2IxZz09' class='no-decoration' target='_blank'>Angielski</a></div>
        {% else %}
        <div class="card english">Angielski</div>
        {% endif %}

        <div class="card"><a href='https://us04web.zoom.us/j/9760904503?pwd=azByY3htY3hmOURmamxob3hQL1pDQT09' class='no-decoration' target='_blank'>Polski</a></div>
        <div class="card"><a href='https://us04web.zoom.us/j/9625315964?pwd=SFNmQUIvT0tRaHlDaVYrN3l5bzJVQT09' class='no-decoration' target='_blank'>Religia</a></div>
        <div class="card"><a href='https://us04web.zoom.us/j/8098106082?pwd=UjR1RVN0T2d0bXpNcnZjaTJheHpFQT09' class='no-decoration' target='_blank'>Wychowawcza</a></div>
        {% endif %}
    </div>
</div>

<!-- <footer class="">
    <a href="{% url 'profiles:settings' %}" class="footer-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
        </svg>
    </a>
</footer> -->

{% endblock %}
