{% extends "base.html" %}
{% load static %}

{% if user.class_name == "slo3a" %}
{% block js %}<script type="text/javascript" src="{% static 'js/3a/master.js' %}"></script>{% endblock %}
{% endif %}

{% block css %}<link rel="stylesheet" href="{% static 'css/profiles/master.css' %}">{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container-fluid">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active name">Ustawienia</a>
        </li>
    </ul>

    <div class="center">
        <form method="post">
            {% csrf_token %}
            {% if user.class_name == "slo3a" %}
            <p>Twoja klasa <strong>3A.</strong></p>
            {% if user.math_teacher == "" %}
            <p>Obecny nauczyciel matematyki <strong>nie wybrano.</strong></p>
            {% else %}
            <p>Obecny nauczyciel matematyki <strong>{{user.math_teacher}}.</strong></p>
            {% endif %}
            {% if user.math_teacher == "" %}
            <p>Obecny nauczyciel angielskiego <strong>nie wybrano.</strong></p>
            {% else %}
            <p>Obecny nauczyciel angielskiego <strong>{{user.english_teacher}}.</strong></p>
            {% endif %}


            <!-- <p><label for="math_teacher"></label></p> -->
            <p><select class="form-select form-select-lg mb-4" id="math_teacher" name="math_teacher" required>
                <option class="" disabled selected>Nauczyciel matematyki</option>
                <option value="Buba">Buba</option>
                <option value="Rubaj">Rubaj</option>
            </select></p>

            <!-- <p><label for="english_teacher"></label></p> -->
            <p><select class="form-select form-select-lg mb-4" id="english_teacher" name="english_teacher" required>
                <option class="" disabled selected>Nauczyciel angielskiego</option>
                <option value="Denys">Denys</option>
                <option value="Kotlińska">Kotlińska</option>
                <option value="Skowron">Skowron</option>
                <option value="Kowalczyk">Kowalczyk</option>
            </select></p>

            {% endif %}
            <input class="btn btn-secondary btn-lg" type="submit" value="Zapisz">
        </form>
    </div>

    <footer class="footer-left">
        <div class="footer-left">
            <a href="{% url 'profiles:class' %}" class="footer-link footer-left">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
            </a>
        </div>
        <div class="footer-right">
            <a href="{% url 'accounts:logout' %}" class="footer-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
            </a>
        </div>
    </footer>

</div>



{% endblock %}
