{% extends "base.html" %}
{% load static %}

{% if user.class_name == "slo3a" %}
{% block js %}<script type="text/javascript" src="{% static 'js/3a/master.js' %}"></script>{% endblock %}
{% endif %}

{% block css %}<link rel="stylesheet" href="{% static 'css/profiles/master.css' %}">{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container-fluid page-content">
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav me-auto w-auto">
            <li class="nav-item active title">
                <p class="">Ustawienia</p>
            </li>
        </ul>
            <a href="{% url 'profiles:class' %}" class="link navbar-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                </svg>
            </a>
    </nav>

    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            {% if user.class_name == "slo3a" %}
            <p>Twoja klasa <strong>3A.</strong></p>
            {% if user.math_teacher == "" %}
            <p>Obecny nauczyciel matematyki <strong>nie wybrano.</strong></p>
            {% else %}
            <p>Obecny nauczyciel matematyki <strong>{{user.math_teacher}}.</strong></p>
            {% endif %}
            {% if user.math_teacher == "" %}
            <p>Obecny nauczyciel angielskiego <strong>nie wybrano.</strong></p>
            {% else %}
            <p>Obecny nauczyciel angielskiego <strong>{{user.english_teacher}}.</strong></p>
            {% endif %}


            <!-- <p><label for="math_teacher"></label></p> -->
            <p><select class="form-select form-select-lg mb-4" id="math_teacher" name="math_teacher" required>
                <option class="" disabled selected>Nauczyciel matematyki</option>
                <option value="Buba">Buba</option>
                <option value="Rubaj">Rubaj</option>
            </select></p>

            <!-- <p><label for="english_teacher"></label></p> -->
            <p><select class="form-select form-select-lg mb-4" id="english_teacher" name="english_teacher" required>
                <option class="" disabled selected>Nauczyciel angielskiego</option>
                <option value="Denys">Denys</option>
                <option value="Kotlińska">Kotlińska</option>
                <option value="Skowron">Skowron</option>
                <option value="Kowalczyk">Kowalczyk</option>
            </select></p>

            {% endif %}
            <input class="btn btn-secondary btn-lg" type="submit" value="Zapisz">
        </form>
    </div>
</div>
{% endblock %}
