.link {
    color: white;
    padding: 10px;
    transition-timing-function: ease-out;
    transition: 0.8s;
}

.link:hover {
    /* color: #6178c9; */
    color: #5067b8;
    transform: scale(1.1);
}

.center {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
}

.name, .name:hover {
    color: white;
    font-size: 2rem;
}
