body, html {
    background-color: #13232f!important;
    color: white!important;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



@media only screen and (min-width: 1800px) {
body, html {
        font-size: 2rem!important;
    }
}

@media only screen and (max-width: 1800px) {
body, html {
        font-size: 1.8rem!important;
    }
}

div.box {
    background-color: #7289da;
    border-bottom: 5px solid #13232f;
    height: 12.5%;
    text-align: center;

}

div.box:hover {
    background-color: #6178c9;
    font-weight: 500;
}

div.new {
    background-color: #6178c9;
}

div.new:hover {
    background-color: #5067b8;
}

div.box_live {
    background-color: #f04747;
    border-bottom: 5px solid #13232f;
    height: 12.5%;
    text-align: center;
}

a {
    text-decoration: none!important;
    color: white!important;
}
