body, html {
    background-color: #13232f!important;
    color: white!important;
    height: 100%;
}

@media only screen and (min-width: 1800px) {
body, html {
        font-size: 2rem!important;
    }
}

@media only screen and (max-width: 1800px) {
body, html {
        font-size: 1.8rem!important;
    }
}


div.box {
    background-color: #1ab188;
    /* background-color: #6488ea; */
    border-bottom: 5px solid #13232f;
    height: 12.5%;
    text-align: center;

}

div.box:hover {
    background-color: #179f7a;
    /* background-color: #5377d9; */
}

div.box_live {
    background-color: #ea3c53;
    border-bottom: 5px solid #13232f;
    height: 12.5%;
    text-align: center;
}

a {
    text-decoration: none!important;
    color: white!important;
}
