body, html {
    background-color: #13232f;
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
    font-size: 1rem;
    height: 100%;
    margin: 0;
}
.title {
    text-align: center;
    padding-left: 10px;
    font-size: 2rem
}

@media only screen and (min-width: 1000px) {
    body, html {
        font-size: 1.3rem;
    }
    .title {
        font-size: 2.2rem
    }
}

@media only screen and (min-width: 1000px) {
    select {
        width: 30rem!important;
    }
}
@media only screen and (max-width: 1000px) {
    option {
        font-size: 1rem!important;
    }
}

.link, .link:hover {
    color: white;
    padding: 10px;
}
