body, html {
    background-color: #13232f;
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
    font-size: 1.3rem;
    height: 100%;
    margin: 0;
}

.name, .name:hover {
    color: white;
    font-size: 2rem;
}

.center {
    /* height: 30rem; */
}
@media only screen and (min-width: 1000px) {
    select {
        width: 30rem!important;
    }
}
@media only screen and (max-width: 1000px) {
    option {
        font-size: 1rem!important;
    }
}

footer {
    bottom: 0;
    text-align: right;
    font-size: 3rem;
    color: white;
    width: 100%;
    height: 50px;
    position: relative;
    padding: 10px;
}

.footer-left {
    text-align: left;
    float: left;
}

.footer-right {
    text-align: right;
    float: none;
}

.footer-link, .footer-link:hover {
    color: white;
}


.page-content {
    min-height: 100%;
    margin-bottom: -120px;
    padding-left: 30px;
}
