{% extends 'base.html' %}

{% load static %}

{% block js %}<script type="text/javascript" src="{% static 'js/accounts/master.js' %}"></script>{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/accounts/master.css' %}">{% endblock %}

{% block title %}Logowanie{% endblock %}

{% block body %}
<form class="form" method="POST">
    {% csrf_token %}

    <body class="align">

        <div class="grid">

            <div id="login">

                <h2><span class="fontawesome-lock"></span>Logowanie</h2>

                <fieldset>

                    <p><label for="username">Nazwa użytkownika</label></p>
                    <p><input id="username" type="text" name="username" maxlength="20" placeholder="Kuba" required></p>

                    <p><label for="password">Hasło</label></p>
                    <p><input id="password" type="password" name="password" maxlength="20" placeholder="••••••••" required></p>

                    {% if form.errors %}
                        <p class="error">
                            Niepoprawna nazwa użytkownika lub hasło.
                            Spróbuj ponownie.
                        </p>
                    {% endif %}

                    <p><input type="submit" value="Logowanie"></p>
                    <br>
                    <p><a style="text-decoration:none;font-size:20px;font-weight:600;" href="{% url 'accounts:signup' %}"><p style="text-align:center;">Nie masz konta?</p></a></p>

                </fieldset>

            </div>

        </div>

    </body>
</form>
{% endblock %}
