{% extends 'base.html' %}

{% load static %}

{% block icon %}<link rel="icon" href="{% static 'images/person-circle.ico' %}">{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/accounts/master.css' %}">{% endblock %}

{% block title %}Logowanie{% endblock %}

{% block body %}
<div class="outer">
    <div class="middle">
        <div class="login">
            <form method="POST">
                {% csrf_token %}
                    <h1 class="title">Logowanie</h1>

                    <hr>

                    <p><label for="username">Nazwa użytkownika</label></p>
                    <p><input class="form-control form-control-lg" id="username" type="text" name="username" maxlength="20" placeholder="Nazwa użytkownika" required></p>

                    <p><label for="password">Hasło</label></p>
                    <p><input class="form-control form-control-lg" id="password" type="password" name="password" maxlength="20" placeholder="Hasło" required></p>

                {% if form.non_field_errors %}
                    <p class="errors">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                    </p>
                {% endif %}

                <input class="form-control" type="submit" value="Logowanie"/>

                <hr>

                <p class="bottom"><a href="{% url 'accounts:signup' %}">Nie masz konta?</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
