{% extends 'base.html' %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/accounts/master.css' %}">{% endblock %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
<div class="outer">
    <div class="middle">
        <div class="login">
            <form method="POST">
                {% csrf_token %}
                    <h1 class="title">
                        Rejestracja
                    </h1>

                    <hr>

                    <p><label for="username">Nazwa użytkownika</label></p>
                    <p><input class="form-control form-control-lg" id="username" type="text" name="username" maxlength="20" placeholder="Nazwa użytkownika" required></p>

                    <p><label for="password1">Hasło</label></p>
                    <p><input class="form-control form-control-lg" id="password1" type="password" name="password1" maxlength="20" placeholder="Hasło" required></p>

                    <p><label for="password2">Powtórz hasło</label></p>
                    <p><input class="form-control form-control-lg" id="password2" type="password" name="password2" maxlength="20" placeholder="Powtórz hasło" required></p>

                    <p><label for="class_name">Klasa</label></p>
                    <p><select id="class_name" name="class_name" class="form-select form-select-lg mb-4" required>
                        <option value="slo3a">Klasa 3A</option>
                    </select></p>


                <p class="errors">
                    {{form.username.errors}}
                    {{form.password1.errors}}
                    {{form.password2.errors}}
                    {{form.class_name.errors}}
                </p>

                <input class="form-control" type="submit" value="Rejestracja"/>

                <hr>


                <p style="font-size: 1rem;text-align: center;">Aby korzystać ze strony <u>musisz</u> się zarejestrować!</p>
                <p style="font-size: 1rem;text-align: center;"><u>Nikt</u> nie będzie miał dostępu do twojego hasła.</p>


                <hr>

                <p class="bottom"><a href="{% url 'accounts:login' %}">Masz już konto?</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
