body, html {
    background-color: #13232f;
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
    font-size: 1.1rem;
}

.title {
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.login {
    margin-left: auto;
    margin-right: auto;
    width: 35rem;
    background-color: #f04747;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
}

@media screen and (max-width: 800px) {
    .login {
        width: 100%;
    }
}

.form-control {
    font-size: 1.2rem;
}

.bottom {
    text-align: center;
    font-size: 1.5rem;
}

a, a:hover {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #dddddd;
}

.errors {
    font-size: 0.9rem;
    text-align: center;
}
