body, html {
    background-color: #13232f;
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
    height: 100%;
    margin: 0;
}

.center {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
}

.name, .name:hover {
    color: white;
    font-size: 2rem;
}

.no-decoration, .no-decoration:hover {
    text-decoration: none;
    color: white;
    display: block;
}

.card {
    background-color: #6178c9;
    height: 16rem;
    line-height: 16rem;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 65px;
    box-shadow: 10px 10px 10px #111111;
    transition-timing-function: ease-out;
    transition: 1s;
}

.card:hover {
    background-color: #5067b8;
}

.cards {
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
}

@media only screen and (min-width: 1800px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }
}

@media only screen and (max-width: 500px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.lesson_now {
    background-color: #ed2939;
}

.lesson_now:hover {
    background-color: #dc1828;
}

.link {
    color: white;
    padding: 10px;
}

.link:hover {
    color: #dddddd;
}
