body, html {
    background-color: #13232f;
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
    height: 100%;
    margin: 0;
}

.timetable-icon, .settings-icon, .accounts-icon, .myclass-icon {
    background-color: #6178c9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #111111;
    margin-left: 10px;
}

.myclass-icon {
    background-color: #4056a7;
}

.timetable-icon:hover, .settings-icon:hover, .accounts-icon:hover, .myclass-icon:hover {
    background-color: #4056a7;
}

.no-decoration, .no-decoration:hover {
    text-decoration: none;
    color: white;
    display: block;
}

.card {
    background-color: #6178c9;
    height: 16rem;
    line-height: 16rem;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 65px;
    box-shadow: 10px 10px 10px #111111;
    transition-timing-function: ease-out;
    transition-duration: 0.8s;
}

.card:hover {
    /* background-color: #5067b8; */
    background-color: #4056a7;
    box-shadow: 15px 15px 15px #000000;
    transform: scale(1.02);
}

.cards {
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
}

@media only screen and (min-width: 1800px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }
}

@media only screen and (max-width: 500px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.lesson_now {
    background-color: #ed2939;
}

.lesson_now:hover {
    background-color: #dc1828;
}
