{% extends "base.html" %}
{% load static %}

{% block title %}Klasa 3a{% endblock %}

{% block body %}
    <a href="#"><div class="box d-flex flex-column justify-content-center">Reklama</div></a>
    <a href="#"><div class="box d-flex flex-column justify-content-center"></div></a>
    <a href="#"><div class="box d-flex flex-column justify-content-center"></div></a>
    <a href="#"><div class="box d-flex flex-column justify-content-center"></div></a>
    <a href="#"><div class="box d-flex flex-column justify-content-center"></div></a>
    <a href="#"><div class="box d-flex flex-column justify-content-center"></div></a>
    <a href="#"><div class="box d-flex flex-column justify-content-center"></div></a>
    <a href="#"><div class="box d-flex flex-column justify-content-center">Matematyka</div></a>
{% endblock %}
