{% extends "base.html" %}
{% load static %}

{% block title %}Klasa 3a - matematyka{% endblock %}

{% block body %}
    <a><div class="box d-flex flex-column justify-content-center">Matematyka - grupy</div></a>
    <a href="https://us04web.zoom.us/j/2483015118?pwd=WEtHK0llaWZmTWtmTnhPUlVqRmlGUT09" target="_blank"><div class="box d-flex flex-column justify-content-center">Buba</div></a>
    <a href="https://us02web.zoom.us/j/2693771475?pwd=SFNmQUIvT0tRaHlDaVYrN3l5bzJVQT09" target="_blank"><div class="box d-flex flex-column justify-content-center">Rubaj</div></a>
    <a href="{% url 'slo3a:home' %}"><div class="box d-flex flex-column justify-content-center">Powrót do wszystkich zajęć</div></a>
{% endblock %}
