body, html {
    background-color: #13232f;
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
    height: 100%;
    margin: 0;
}

.timetable-icon, .settings-icon, .accounts-icon, .myclass-icon {
    background-color: #6178c9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #111111;
    margin-left: 10px;
}

.settings-icon {
    background-color: #4056a7;
}

.timetable-icon:hover, .settings-icon:hover, .accounts-icon:hover, .myclass-icon:hover {
    background-color: #4056a7;
}

@media only screen and (min-width: 1000px) {
    .settings-text {
        font-size: 3rem!important;
    }
    select {
        font-size: 3rem!important;
        width: 40rem!important;
    }
}

@media only screen and (max-width: 1000px) {
    .settings-text {
        font-size: 2rem!important;
    }
    select {
        font-size: 2rem!important;
    }
}

select:required:invalid {color: black;}
option[value=""][disabled] {display: none;}
option {color: black;}
