body, html {
    background-color: #13232f;
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
    font-size: 1rem;
    height: 100%;
    margin: 0;
}
.center {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
}

.name, .name:hover {
    color: white;
    font-size: 2rem!important;
}
@media only screen and (min-width: 1000px) {
    p {
        font-size: 1.5rem!important;
    }
}

@media only screen and (min-width: 1000px) {
    select {
        width: 30rem!important;
    }
}
@media only screen and (max-width: 1000px) {
    option {
        font-size: 1rem!important;
    }
}
@media only screen and (max-width: 1000px) {
    p {
        font-size: 1rem!important;
    }
}

.no-decoration, .no-decoration:hover {
    text-decoration: none;
    color: white;
    display: block;
}

.link, .link:hover {
    color: white;
    padding: 10px;
}


.decoration {
    text-decoration: none;
    color: white;
}

.decoration:hover {
    color: #dddddd;
}

select:required:invalid {
  color: black;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
