<!DOCTYPE html>
{% load static %}
<html lang="pl" dir="ltr">
    <head>
        <meta charset="utf-8">

        <!-- Bootstrap5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0D8TWRSPCQ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-0D8TWRSPCQ');
        </script>

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.png' %}"/>

        {% block js %}{% endblock %}
        
        <link rel="stylesheet" href="{% static 'css/master.css' %}">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div style="{width: 100%; height: 100%;}"></div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
