{% extends "base.html" %}
{% load static %}

{% block title %}Klasy 3 - angielski{% endblock %}

{% block body %}
    <a><div class="box d-flex flex-column justify-content-center">Angielski - grupy</div></a>
    <a href="https://us04web.zoom.us/j/6708313679?pwd=RWlUODlGOTFndFZSbHBRdFZoT0V3dz09"><div class="box d-flex flex-column justify-content-center">Denys</div></a>
    <a href="https://us04web.zoom.us/j/75537981297?pwd=L3BHL0tkZXFsTEx5VjV3WS8yQ2VJUT09"><div class="box d-flex flex-column justify-content-center">Kotlińska</div></a>
    <a href="https://zoom.us/j/6717774670?pwd=REhhSXdCaXphRFQyM0pVUGJ3THFBZz09"><div class="box d-flex flex-column justify-content-center">Skowron</div></a>
    <a href="https://us04web.zoom.us/j/4312598558?pwd=RDlUelJXTk1mUmxoMzNPOUZJa2IxZz09"><div class="box d-flex flex-column justify-content-center">Kowalczyk</div></a>
    <a href="{% url 'slo3a:home' %}"><div class="box d-flex flex-column justify-content-center">Cofnij</div></a>
{% endblock %}
