body, html {
    background-color: #13232f;
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
    height: 100%;
    margin: 0;
}

.center {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
}

.name, .name:hover {
    color: white;
    font-size: 2rem;
}

.days:after {
    display: table;
    clear: both;
}

.day {
    background-color: #6178c9;
    float: left;
    width: 19%;
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    margin-left: 1%;
}

.nomargin {
    margin-left: 0.5%;
}

.lessons {
    /* background-color: #5068c9; */
}

.lesson {
    /* background-color: #5067b8; */
    font-size: 2rem;
    margin-top: 5px;
    height: 4rem;
    line-height: 4rem;
    border-radius: 40px;
}

@media only screen and (max-width: 1400px) {
    .lesson {
        font-size: 1.5rem;
        height: 3rem;
        line-height: 3rem;
    }
    .title {
        font-size: 2rem!important;
    }

}

@media (hover: none) {
    .lesson {
        font-size: 2rem;
        height: 4rem;
        line-height: 4rem;
    }
    .title {
        font-size: 2.5rem!important;
    }
    .day {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

}

.lesson:hover {
    background-color: #5067b8;
}

hr.line {
    border: 2px solid #13232f;
}

.title {
    background-color: #5067b8;
    font-size: 2.5rem;
    border-radius: 40px;
}

.no-decoration, .no-decoration:hover {
    text-decoration: none;
    color: white;
    display: block;
}

.link, .link:hover {
    color: white;
    padding: 10px;
}



.decoration {
    text-decoration: none;
    color: white;
}

.decoration:hover {
    color: #dddddd;
}
