body, html {
    font-family: 'Poppins', sans-serif;
    background-color: #13232f;
    color: white;
    user-select: none;
    height: 100%;
    margin: 0;
}

.timetable-icon, .settings-icon, .accounts-icon, .myclass-icon {
    background-color: #6178c9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #111111;
    margin-left: 10px;
}

.timetable-icon {
    background-color: #4056a7;
}

.timetable-icon:hover, .settings-icon:hover, .accounts-icon:hover, .myclass-icon:hover {
    background-color: #4056a7;
}

.present-day {
    font-size: 2.5rem;
    border-radius: 40px;
}

hr.line {
    border: 2px solid #13232f;
}

.no-decoration, .no-decoration:hover {
    text-decoration: none;
    color: white;
    display: block;
}

.days {
    margin-left:-0.5%;
}

.days:after {
    display: table;
    clear: both;
}

.day {
    background-color: #6178c9;
    float: left;
    width: 19.5%;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    margin-left: 1%;
    box-shadow: 10px 10px 10px #111111;
    transition-timing-function: ease-out;
    transition-duration: 0.8s;
}

.day:hover {
    /* background-color: #5067b8; */
    background-color: #4056a7;
    transform: scale(1.02);
}

.nomargin {
    margin-left: 0.5%;
}

.lesson {
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    margin-top: 5px;
    border-radius: 20px;
    transition-timing-function: ease-out;
    transition: 0.4s;
}

.lesson:hover {
    background-color: #6178c9;
    box-shadow: 5px 5px 5px #222222;
    transform: scale(1.02);
}

@media only screen and (max-width: 1400px) {
    .lesson {
        font-size: 1.5rem;
        height: 3rem;
        line-height: 3rem;
    }

    .present-day {
        font-size: 2rem!important;
    }
}

@media only screen and (max-width: 1000px) {
    .lesson {
        font-size: 2rem;
        height: 4rem;
        line-height: 4rem;
    }

    .present-day {
        font-size: 2.5rem!important;
    }

    .day {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
}
