{% extends "navbar_template.html" %}
{% load static %}

{% block icon %}<link rel="icon" href="{% static 'images/house-fill.ico' %}">{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/myclass/master.css' %}">{% endblock %}

{% block title %}Moja klasa{% endblock %}

{% block content %}
<br><br>
<h1>powodzenia na maturce kochani ❤</h1>
<h5>jak chcesz wejść na jakąś lekcje to przez plan możesz</h5>
<!-- <div class="cards">
    {% for lesson, time in lessons_today  %}
        {% if links|get_item:lesson != '' %}
        {% if lesson == current_lesson %}
        <div class="card lesson_now">
            <a href='{{links|get_item:lesson}}' class='no-decoration lesson_name' target='_blank'>
                {{lesson}}
                <br>
                {{time}}
            </a>
        </div>
        {% else %}
        <div class="card">
            <a href='{{links|get_item:lesson}}' class='no-decoration lesson_name' target='_blank'>
                {{lesson}}
                <br>
                {{time}}
            </a>
        </div>
        {% endif %}
        {% endif %}
    {% endfor %}
</div> -->

{% endblock %}
