{% extends "navbar_template.html" %}
{% load static %}

{% block icon %}<link rel="icon" href="{% static 'images/house-fill.ico' %}">{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/myclass/master.css' %}">{% endblock %}

{% block title %}Moja klasa{% endblock %}

{% block content %}
<div class="card">
    <a href='https://us04web.zoom.us/j/2483015118?pwd=WEtHK0llaWZmTWtmTnhPUlVqRmlGUT09' class='no-decoration lesson_name' target='_blank'>Matematyka</a>
    <a href='https://zoom.us/j/2838246804?pwd=Umh1eEJ5VFJqVE1NSmZZUytlMUdGZz09' class='no-decoration lesson_name' target='_blank'>Fizyka</a>
</div>
<!-- <div class="cards">
    {% for lesson, time in lessons_today  %}
        {% if links|get_item:lesson != '' %}
        {% if lesson == current_lesson %}
        <div class="card lesson_now">
            <a href='{{links|get_item:lesson}}' class='no-decoration lesson_name' target='_blank'>
                {{lesson}}
                <br>
                {{time}}
            </a>
        </div>
        {% else %}
        <div class="card">
            <a href='{{links|get_item:lesson}}' class='no-decoration lesson_name' target='_blank'>
                {{lesson}}
                <br>
                {{time}}
            </a>
        </div>
        {% endif %}
        {% endif %}
    {% endfor %}
</div> -->

{% endblock %}
